streamlit==1.30.0
pandas==2.0.0
streamlit_option_menu==0.3.6
scikit-learn
numpy
opencv-python==4.9.0.80
opencv-python-headless==4.8.1.78
opencv-contrib-python==4.8.1.78
deepface
tensorflow==2.15.0
